*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Style for Firefox */
html {
  scrollbar-width: none;
}

/* Style the container to have a black background */
body {
  background-color: black;
}

/* Style for Webkit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Style for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: black;
}

/* Style the track */
body::-webkit-scrollbar-track {
  background: black;
}

/* Style the thumb */
body::-webkit-scrollbar-thumb {
  background-color: #555;
}

.body{
  background-color: black;
}
.nav{
    text-decoration: none;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;


}

.home{
 cursor: pointer;
 text-decoration: none;
 color: white;
 
 height: 100%;
 width: 25%;
 display:flex;
 align-items: center;
 justify-content: center;
}
.contact{
    cursor: pointer;
    text-decoration: none;
 color: white;

 height: 100%;
 width: 25%;
 display:flex;
 align-items: center;
 justify-content: center;
   }
   .project{
    cursor: pointer;
    text-decoration: none;
    color: white;
 
    height: 100%;
    width: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
   }

.home:hover{
    text-shadow: 0 0 10px white;
  }
  
  .project:hover{
    text-shadow: 0 0 10px white;
  }
  
  .contact:hover{
    text-shadow: 0 0 10px white;
  }
  
.back{
    background: url(/Countdown\ Intro\ 3D\ Video\ in\ blue\ Purple\ black\ Bold\ Tech\ Style.gif);
    height: 600px;
    width: 100%;
    background-repeat: none; 
     background-size: cover;
}  


.welcome{
    height: 600px;
    width: 100%;
   background: transparent;
   position: relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
  
}

.welcome h1{
  color: white;
  background: transparent;
  font-size: 70px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.welcome a{
  text-decoration: none;
}
         
.see-project {
  background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
  text-decoration: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
  height: 70px;
  width: 200px;
  margin-bottom: 300px;
}

.see-project:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.mid-part{
  height: 500px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.mid-part1{
  width: 50%;
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-part1 h1{
  
  margin-left: 70px;
  margin-right: 50px;
}

.Aniket{
  color: #fffda5;
  text-decoration: none;
}

.mid-part2{
  width: 50%;
  height: 500px;
  background: url(/FULL\ LOGO\ AND\ TEXT.gif);
  background-repeat: none;
  background-size: cover;
}

.second-mid-part{
  height: 500px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  flex-wrap: wrap;
  position: absolute;
  top: 1200px;
}

.div{
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circle1 {
  height: 200px;
  width: 200px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle1 img{
  height: 125px;
  width: 125px;
opacity: .8;
}
.circle1 img:hover{
  height: 125px;
  width: 125px;
opacity: 1;
}
.circle2 {
  height: 200px;
  width: 200px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle2 img{
  height: 100px;
  width: 100px;
opacity: .8;
}
.circle2 img:hover{
  height: 100px;
  width: 100px;
opacity: 1;
}

.circle3 {
  height: 200px;
  width: 200px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle3 img{
  height: 100px;
  width: 100px;
opacity: .8;
}
.circle3 img:hover{
  height: 100px;
  width: 100px;
opacity: 1;
}

.circle4 {
  height: 200px;
  width: 200px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle4 img{
  height: 100px;
  width: 100px;
opacity: .8;
}
.circle4 img:hover{
  height: 100px;
  width: 100px;
opacity: 1;
}


.software{
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.software h1{
  font-size: 50px;
}

.evohub {
  background-color: black;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 1674px;
  width: 100%;
}
.evohub img{
  height: 500px;
  opacity: .7;
  width: 800px;
}
.evohub img:hover{
  height: 500px;
  opacity: 1 ;
  width: 800px;
  
}

.imgevo{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 500px;
}

.evohub h1{
  color: #fffda5;
  font-size: 80px;
}

.evohub p{
  color: white;
  font-size: 30px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
}

.footer{
  background-color: rgb(27, 27, 27);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}


.follow{
  color: white;
  background: transparent;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  
}

/* contact page */

.background{
  /* background: url(/Modern\ Animated\ Neutral\ Thank\ You\ Video.gif); */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.background img{
  height: 100vh;
  width: 100vw;
}

.back-pro{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.back-pro img {
    vertical-align: middle;
    width: 100%;
    /* height: max-content; */

}

.contact-section {
  margin-top: 150px;
  color: #E16036;
  padding-left: 150px;
  padding-right: 150px;
}

.submit {
  background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  
}

.feedback {
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0; /* Change to your desired background color */
  outline: none; /* Remove outline when clicked */
  padding: 10px; /* Add inner padding */  
}

.email {
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px; /* Add inner padding */  
  outline: none; /* Remove outline when clicked */
}

.contact-submit-feedback {
  position: absolute;
  top: 400px;
  left: 20px;
  padding-left: 200px;
  color: white;
}

.First-contact-us {
  position: absolute;
  top: 250px;
  left: 150px;
  color: white;
}

.First-contact-us p {
  font-weight: 700;
  font-size: 5rem;
}

/* project */

.videos {
  width: 100vw;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.yt{
  height: 10em ;
  width: 17em ;
}

.iup{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}


/* MEDIA QUEARY FOR THE REPONSIVE WEBSITE  */
/* media 1024px */
@media  ( max-width:1024px) {
  .nav{
    font-size: 20px;
    width: 100%;
    height: 50px;
  }
  .back {
    background: url(/Countdown\ Intro\ 3D\ Video\ in\ blue\ Purple\ black\ Bold\ Tech\ Style.gif);
    height: 400px;
    width: 100%;
    background-repeat: none;
    background-size: cover;
  }
  .see-project {
    background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED 51%, #56CCF2 100%);
    margin: 10px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #000; 
     border-radius: 10px;
    display: block;
    border: none;
    font-size: 17px;
    height: 65px;
    width: 200px;
    margin-bottom: 0px   ;
  }
  .welcome {
    height: 100px;
    width: 100%;
    background: transparent;
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .welcome h1{
    color: white;
    background: transparent;
    font-size: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 0px;
  }
  
.mid-part{
  height: 10px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.mid-part1{
  width: 50vw;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-part1 h1{
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.Aniket{
  color: #fffda5;
  text-decoration: none;
}

.mid-part2{
  width: 50vw;
  height: 200px;
  background: url(/FULL\ LOGO\ AND\ TEXT.gif);
  background-repeat: none;
  background-size: cover;
}
.second-mid-part {
  height: 500px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  flex-wrap: wrap;
  position: absolute;
  top: 656px;
}
.evohub {
  background-color: black;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 1143px;
  width: 100%;
}
.evohub p{
padding-bottom: 50px;
}
.back-pro{
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

  
}

/* media 414px */

@media (max-width:430px) {
  .nav{
    font-size: 15px;
    width: 100%;
    height: 50px;
  }
  .welcome h1 {
    color: white;
    background: transparent;
    font-size: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.back {
      background: url(/Countdown\ Intro\ 3D\ Video\ in\ blue\ Purple\ black\ Bold\ Tech\ Style.gif);
      height: 200px;
      width: 100%;
      background-repeat: none;
      background-size: cover;
    }

.see-project {
  background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED 51%, #56CCF2 100%);
  margin: 10px;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #000; 
   border-radius: 10px;
  display: block;
  border: none;
  font-size: 10px;
  height: 40px;
  width: 135px;
  margin-bottom: 0px;
}
.welcome {
  height: 100px;
  width: 100%;
  background: transparent;
  position: relative;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.welcome h1{
  color: white;
  background: transparent;
  font-size: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 0px;
}

.mid-part{
  height: 10px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.mid-part1{
  width: 100vw;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-part1 h1{
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.Aniket{
  color: #fffda5;
  text-decoration: none;
}

.mid-part2{
  width: 100vw;
  height: 200px;
  background: url(/FULL\ LOGO\ AND\ TEXT.gif);
  background-repeat: none;
  background-size: cover;
}

.second-mid-part {
  height: 300px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  flex-wrap: wrap;
  position: absolute;
  top: 650px;
}
.div {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circle1 {
  height: 80px;
  width: 80px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle1 img{
  height: 60px;
  width: 60px;
opacity: .8;
}
.circle1 img:hover{
opacity: 1;
}
.circle2 {
  height: 80px;
  width: 80px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle2 img{
  height:50px;
  width: 50px;
opacity: .8;
}
.circle2 img:hover{
opacity: 1;
}

.circle3 {
  height: 80px;
  width: 80px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle3 img{
  height: 50px;
  width: 50px;
opacity: .8;
}
.circle3 img:hover{
opacity: 1;
}

.circle4 {
  height: 80px;
  width: 80px;
  background: url(/circle2.gif);
  background-size: cover;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.circle4 img{
  height: 50px;
  width: 50px;
opacity: .8;
}
.circle4 img:hover{
  height: 50px;
  width: 50px;
opacity: 1;
}
.div{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.software{
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.software h1{
  font-size: 30px;
}
.evohub {
  background-color: black;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 911px;
  width: 100%;
}
.evohub img{
  height: 250px;
  opacity: .7;
  width: 100%;
}
.evohub img:hover{
  height: 250px;
  opacity: 1 ;
  width: 100%;
  
  
}
.imgevo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 264px;
}
.evohub h1 {
  color: #fffda5;
  font-size: 40px;
}
.evohub p {
  color: white;
  font-size: 23px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
}
.back-pro{
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.submit {
  background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  
}

.feedback {
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0; /* Change to your desired background color */
  outline: none; /* Remove outline when clicked */
  padding: 10px; /* Add inner padding */  
}

.email {
  width: 280px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
}
.contact-submit-feedback {
  position: absolute;
  top: 150px;
  left: 20px;
  color: white;
  padding-left: 20px;
}
.form{
  height: 400px;
  width: 100%;
}

.First-contact-us {
  position: absolute;
  top: 250px;
  left: 150px;
  color: white;
}

.First-contact-us p {
  font-weight: 700;
  font-size: 5rem;
}
.background img{
  height: 70vh;
  width: 100vw;
  background-size: cover
}
.background{
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
}

@media (width:1280) {
  .second-mid-part {
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-wrap: wrap;
    position: absolute;
    top: 1198px;
    padding-bottom: 50px;
}
}

.cc{
  height: 30px;
  width: max-content;
  background: transparent;
  opacity: .6;
}

.cc:hover{
  height: 30px;
  width: max-content;
  background: transparent;
  opacity: 1;
}

.evohub footer img{
  height: 30px;
  width: max-content;
  background: transparent;
  opacity: .6;
}

.evohub footer img:hover{
  height: 30px;
  width: max-content;
  background: transparent;
  opacity: 1;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 60%;
  padding-bottom: 50px;
}
